.img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.text {
    color: #555D5C;
    font: 50% Handlee;
  }