.footer {
    background-color: #b4c098;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font: 100% Handlee;
    height: 60px;
    line-height: 60px;
    color: #555D5C;
    font-size: 20px;
    font-weight: 400;
    z-index: 100;
    /* display: flex;
    justify-content: space-between; */
}

.a {
    margin-right: 10px;
}